*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
}

// 隱藏scrollbar
html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}


.fs-14 {
  font-size: 14px;
}
.fs-17 {
  font-size: 17px;
}

.fs-19 {
  font-size: 19px;
}
.fs-26 {
  font-size: 26px;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}
.container-fluid {
  padding: 0 12px;
  margin: 0 60px;
}

.logo-sm {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 1;
  @include lg {
    font-size: 72px;
  }
}

h6{
  letter-spacing: 3px;
  color: $gray;
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}
